# Chord DHT Analysis

## Load the data

In [4]:
import ast

import pandas as pd

df = pd.read_csv('../data/computer_scientists.pp.csv')

# Keep only the last names, the first education and the number of awards of each scientist.
df['name'] = df['name'].apply(lambda x: x.split(' ')[-1])
df['education'] = df['education'].apply(ast.literal_eval).apply(lambda x: x[0] if x else None)
df['awards'] = df['awards'].apply(ast.literal_eval).apply(lambda x: len(x))

# Drop all rows with missing values in the education column.
df = df.dropna(subset=["education"], ignore_index=True)

df

            name                           education  awards
0           Khan                University of Malaya       0
1       Aaronson                  Cornell University       4
2          Abebe                  Cornell University       0
3        Abelson                Princeton University       1
4      Abiteboul   University of Southern California       6
..           ...                                 ...     ...
523        Zedan               University of Bristol       0
524  Zilberstein  University of California, Berkeley       0
525    Zimmerman                   Purdue University       0
526   Zuckerberg                  Harvard University       0
527         Zuse      Technical University of Berlin       6

[528 rows x 3 columns]

## Create the Chord DHT

In [12]:
from chord_dht.chord import Chord

chord = Chord(m=2)

chord.node_join(1)

Node 1 joining the ring.
Node 1 joining the ring.

## Benchmark the Chord DHT

### Insertion

### Lookup

### Deletion